---
layout: default
comments: true
---

{% include post.html post=page link_title=false %}

{% if site.author.about %}
  {% include about.html author=site.author %}
{% endif %}

{% include related.html post=page %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 댓글 상단광고 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9010997030622725"
     data-ad-slot="9019917272"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% if site.disqus %}
{% include comments.html post=page %}
{% endif %}
